.footer{
    background-color: #104b63fd;
    text-align: center;
    padding: 10px 0 0;
    color: #fff;
    position:absolute; 
    bottom:0; 
    width:100%; 
    height:auto;

    /* bottom: 0; */
    /* height: 50px; */
    
}
.footer p{
    font-size: 10px;
    margin: 0;
}
.footer-img{
    height: 30px;
    margin: 5px;
}